// Fonts
$font-robo: "Roboto", sans-serif;
$font-mark: "Permanent Marker", cursive;

// Colors
$base-color-1: 60;
$base-color-2: 120;
$base-color-3: 200;

$saturation-1: 20%;
$saturation-2: 50%;
$saturation-3: 80%;

$lightness-1: 75%;
$lightness-2: 50%;
$lightness-3: 35%;

$opacity-1: 100%;
$opacity-2: 80%;
$opacity-3: 60%;

$primary-light: hsla($base-color-1, $saturation-2, $lightness-1, $opacity-1);
$primary-normal: hsla($base-color-1, $saturation-2, $lightness-2, $opacity-1);
$primary-dark: hsla($base-color-1, $saturation-2, $lightness-3, $opacity-1);

$secondary-light: hsla($base-color-2, $saturation-2, $lightness-1, $opacity-1);
$secondary-normal: hsla($base-color-2, $saturation-2, $lightness-2, $opacity-1);
$secondary-dark: hsla($base-color-2, $saturation-2, $lightness-3, $opacity-1);

$tertiary-light: hsla($base-color-3, $saturation-2, $lightness-1, $opacity-1);
$tertiary-normal: hsla($base-color-3, $saturation-2, $lightness-2, $opacity-1);
$tertiary-dark: hsla($base-color-3, $saturation-2, $lightness-3, $opacity-1);

$color-1: rgb(131, 125, 125);
$color-2: rgb(255, 255, 255);
$color-3: rgb(0, 0, 0);
$gradient-light: linear-gradient(to right, $color-1, $color-2);
$gradient-dark: linear-gradient(to right, $color-1, $color-3);
