@import "../abstracts/variables";
// @import "../base/utilities";

.navigation {
  border: 1px solid #000;
  background-color: $primary-normal;
  height: 5rem;

  &__links {
    text-decoration: none;
    margin: 0 2rem;
    color: $tertiary-dark;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 780px) {
  .navigation {
    display: none;
  }
}
