.timer {
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &__mins {
    display: block;
  }

  &__session {
    font-size: 1.6rem;
  }

  &__description {
    grid-column: 1/-1;
  }
}
