// header.js

// navMenu.js
@media only screen and (max-width: 600px) {
  .navMenu {
    display: block;
  }

  .heading-primary {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  .u-left-text {
    text-align: left;
    margin-left: 2rem;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }

  .navigation {
    display: none;
  }

  .home {
    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 775px) {
  .navMenu {
    display: block;
  }

  .heading-primary {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }

  .navigation {
    display: none;
  }

  .home {
    p {
      font-size: 1.4rem;
    }
  }
}
