// Media Queries
@media only screen and (min-width: 1435px) {
  .timer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

@media only screen and (min-width: 601px) and (max-width: 775px) {
  .navMenu {
    display: block;
  }

  html {
    font-size: 56.25%;
  }

  .navigation {
    display: none;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .navMenu {
    display: block;
  }

  html {
    font-size: 43.75%;
  }

  .nav {
    &__item {
      margin: 0;
    }

    &__links {
      &:link,
      &:visited {
        display: inline-block;
      }
    }
  }

  .u-left-text {
    text-align: left;
    margin: 1rem 0 0 2rem;
  }

  .navigation {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .navMenu {
    display: block;
  }

  html {
    font-size: 37.5%;
  }

  .nav {
    &__item {
      margin: 0;
    }

    &__links {
      &:link,
      &:visited {
        display: inline-block;
      }
    }
  }

  .u-left-text {
    text-align: left;
    margin: 1rem 0 0 2rem;
  }

  .navigation {
    display: none;
  }
}
